<nav>
  <div class="nav-wrapper">
    <a href="#!" style="margin-left: 24px" class="brand-logo">Doctag Server</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/judul/view">Judul</a></li>
      <li><a href="/dosen/view">Nama Dosen</a></li>
      <li><a href="/nomor/view">Regex Nomor</a></li>
      <li><a href="/isi/view">Regex Isi</a></li>
    </ul>
  </div>
</nav>