<!DOCTYPE html>
<html>
  <head>
    <title>DocTag Server</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <h1>Menu</h1>
    <a href="/judul/view" class="waves-effect waves-light btn">Judul</a>
    <a href="/dosen/view" class="waves-effect waves-light btn">Nama Dosen</a>
    <a href="/nomor/view" class="waves-effect waves-light btn">Regex Nomor</a>
    <a href="/isi/view" class="waves-effect waves-light btn">Regex Isi</a>

    <h1>Upload</h1>
    <p>Upload single file (*/image OR *.pdf)</p>
    <form action="/" method="post" enctype="multipart/form-data">
      <input type="file" accept="image/*" name="photo">
      <button type="submit" class="waves-effect waves-light btn">
        RUN THE ENGINE BOIS
      </button>
    </form>
    <h1>Output</h1>
    <p>Text output <%= data %></p>
    <a href="#" class="waves-effect waves-light btn">Download</a>
  </body>
</html>